 <div class="container">
    	<div class="row">
        	<div class="col-sm-12">
            
            	<div class="centerContent">
                  			<h4>dashboard </h4>
                            <ul class="bigBtnIcon">
                                <li>
                                    <a class=" red" href="/tasks">
                                        <span class="glyphicon glyphicon-tasks"></span>
                                        <span class="txt">tasks</span>
                                        <span class="notification">5</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="  green" href="/dutys">
                                        <span class="glyphicon glyphicon-bell"></span>
                                        <span class="txt">dutys</span>
                                        <span class="notification green">3</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/friends">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="txt">friends</span>
                                        <span class="notification">+5</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/settings">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        <span class="txt">settings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
            
            </div>
            <div class="col-sm-12">
            	
                <div class="reminder">
                            <h4>Things you need to do 
                                <a class="icon tip" href="#" oldtitle="Configure" title="" data-hasqtip="true" aria-describedby="qtip-8"><span class="icon16 icomoon-icon-cog-2"></span></a>
                            </h4>
                            <ul>
                                <li class="clearfix">
                                    <div class="icon">
                                        <span class="icon32 icomoon-icon-basket gray"></span>
                                    </div>
                                    <span class="number">7%</span> 
                                    <span class="txt">Pending Orders</span>
                                    <a class="btn btn-warning" href="task_1.html">go</a>
                                </li>
                                <li class="clearfix">
                                    <div class="icon">
                                        <span class="icon32 icomoon-icon-support red"></span>
                                    </div>
                                    <span class="number">30%</span> 
                                    <span class="txt">Support Tickets </span>
                                    <a class="btn btn-warning" href="task_1.html">go</a>
                                </li>
                                <li class="clearfix">
                                    <div class="icon">
                                        <span class="icon32 icomoon-icon-new green"></span>
                                    </div>
                                    <span class="number">59%</span> 
                                    <span class="txt">New Invoices </span>
                                    <a class="btn btn-warning" href="task_1.html">go</a>
                                </li>
                                <li class="clearfix">
                                    <div class="icon">
                                        <span class="icon32 icomoon-icon-bubbles-2 blue"></span>
                                    </div>
                                    <span class="number">95%</span> 
                                    <span class="txt">Review Comments</span> 
                                    <a class="btn btn-warning" href="task_1.html">go</a>
                                </li>
                            </ul>
                        </div>
                
            </div>
            <div class="clearfix visible-xs"></div>
          
        </div>
    </div>