<div class="container">
         <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputEmail1" class="col-lg-2 control-label">Task name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="task_name" placeholder="the task's name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword1" class="col-lg-2 control-label">Dutyer</label>
            <div class="col-lg-10">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="who duty this task">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Friends <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="#">Lucy</a></li>
                      <li><a href="#">Jim</a></li>
                      <li><a href="#">zhaoweixiong</a></li>
                      <li class="divider"></li>
                      <li><a href="#">gzp</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div>
          </div>
          <div class="form-group">
            <label for="begin_date" class="col-lg-2 control-label">Begin_date</label>
            <div class="col-lg-4">
				<input type="text" id="begin_date" value="02-16-2012" class=" form-control">
            </div>

           	<label for="end_date" class="col-lg-2 control-label">End_date</label>
            <div class="col-lg-4">
              <input type="text" id="end_date" value="02-16-2012" class=" form-control">
            </div>
          </div>
          <div class="form-group">
           	<label for="description" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" placeholder="the description about this task"></textarea>
            </div>
          </div>
          <div class="form-group setting_more">
           	<label for="description1" class="col-lg-2 control-label">Description 1</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" placeholder="the description about this task"></textarea>
            </div>
          </div>
          <div class="form-group setting_more">
           	<label for="description2" class="col-lg-2 control-label">Description 2</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" placeholder="the description about this task"></textarea>
            </div>
          </div>
           <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <a  class="btn btn-default btn-block btn-lg setting_more_btn" >more</a>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <a type="submit" class="btn btn-primary btn-block btn-lg" href="tasks.html">save</a>
            </div>
          </div>
        </form>
    </div>
 