
<!--main-->
    <div class="container">
    	<div class="row">
        	<div class="col-sm-12">
            	<a href='/newtask' class="btn btn-primary btn-lg btn-block">new task</a>
            </div>
        </div>
       
      <div class="mine_task">
      <h3>My tasks</h3>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="panel-title">Panel title  <h4 class="task_point">52%</h4> <a class="badge  task_info" href="task_infos.html">info +4</a></span>        
        </div>
        <div class="panel-body">
          <div class="row">
          	<div class="col-md-2 col-xs-4">Dutyer</div>
            <div class="col-md-4 col-xs-8">zhaoweixiong</div>
            <div class="col-md-2 col-xs-4">End-Date</div>
            <div class="col-md-4 col-xs-8">2013-10-01</div>
            <div class="col-lg-2 col-xs-4">Description</div>
            <div class="col-lg-10 col-xs-8">Among other things, there's a Firefox bug that prevents us from setting the line-height of 
            -based buttons, causing them to not exactly match the height of other buttons on Firefox.</div>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <span class="panel-title">Panel title  <h4 class="task_point ">52%</h4><a class="badge task_info" href="task_infos.html">info +1</a></span>        
        </div>
        <div class="panel-body">
           <div class="row">
          	<div class="col-md-2 col-xs-4">Dutyer</div>
            <div class="col-md-4 col-xs-8">zhaoweixiong</div>
            <div class="col-md-2 col-xs-4">End-Date</div>
            <div class="col-md-4 col-xs-8">2013-10-01</div>
            <div class="col-lg-2 col-xs-4">Description</div>
            <div class="col-lg-10 col-xs-8">Among other things, there's a Firefox bug that prevents us from setting the line-height of 
            -based buttons, causing them to not exactly match the height of other buttons on Firefox.</div>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="panel-title">Panel title <h4 class="task_point ">52%</h4><a class="badge task_info" href="task_infos.html">info </a></span>         
        </div>
        <div class="panel-body">
          <div class="row">
          	<div class="col-md-2 col-xs-4">Dutyer</div>
            <div class="col-md-4 col-xs-8">zhaoweixiong</div>
            <div class="col-md-2 col-xs-4">End-Date</div>
            <div class="col-md-4 col-xs-8">2013-10-01</div>
            <div class="col-lg-2 col-xs-4">Description</div>
            <div class="col-lg-10 col-xs-8">Among other things, there's a Firefox bug that prevents us from setting the line-height of 
            -based buttons, causing them to not exactly match the height of other buttons on Firefox.</div>
          </div>
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <span class="panel-title">Panel title  <h4 class="task_point ">52%</h4><a class="badge task_info" href="task_infos.html">info </a></span>    
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <span class="panel-title">Panel title <h4 class="task_point ">52%</h4><a class="badge task_info" href="task_infos.html">info </a></span>          
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    
    <!--other tasks-->
    <div class="mine_task">
      <h3>Friends' tasks</h3>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="panel-title">Panel title  <h4 class="panel-title float_r">52%</h4></span>        
        </div>
        <div class="panel-body">
          <div class="row">
          	<div class="col-md-2 col-xs-4">Author</div>
            <div class="col-md-4 col-xs-8">ningning</div>
            <div class="col-md-2 col-xs-4">End-Date</div>
            <div class="col-md-4 col-xs-8">2013-10-01</div>
            <div class="col-lg-2 col-xs-4">Description</div>
            <div class="col-lg-10 col-xs-8">Among other things, there's a Firefox bug that prevents us from setting the line-height of 
            -based buttons, causing them to not exactly match the height of other buttons on Firefox.</div>
          </div>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <span class="panel-title">Panel title  <h4 class="panel-title float_r">52%</h4></span>        
        </div>
        <div class="panel-body">
           <div class="row">
          	<div class="col-md-2 col-xs-4">Author</div>
            <div class="col-md-4 col-xs-8">xiaoyu</div>
            <div class="col-md-2 col-xs-4">End-Date</div>
            <div class="col-md-4 col-xs-8">2013-10-01</div>
            <div class="col-lg-2 col-xs-4">Description</div>
            <div class="col-lg-10 col-xs-8">Among other things, there's a Firefox bug that prevents us from setting the line-height of 
            -based buttons, causing them to not exactly match the height of other buttons on Firefox.</div>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="panel-title">Panel title  <h4 class="panel-title float_r">52%</h4></span>        
        </div>
        <div class="panel-body">
          <div class="row">
          	<div class="col-md-2 col-xs-4">Dutyer</div>
            <div class="col-md-4 col-xs-8">zhaoweixiong</div>
            <div class="col-md-2 col-xs-4">End-Date</div>
            <div class="col-md-4 col-xs-8">2013-10-01</div>
            <div class="col-lg-2 col-xs-4">Description</div>
            <div class="col-lg-10 col-xs-8">Among other things, there's a Firefox bug that prevents us from setting the line-height of 
            -based buttons, causing them to not exactly match the height of other buttons on Firefox.</div>
          </div>
        </div>
      </div>
     
    </div>
       
    </div>